body {
  margin: 50px;
  font-family:'Archivo Narrow', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family:'Archivo Narrow', sans-serif;
}


.App hr {
  margin: 0 50px;
  border:1px solid #a1cae2;
  background-color: '#a1cae2';
  border-color: '#a1cae2';
}

form {
  margin: 20px 50px;
  border: 1px solid #e7e6e1;
  padding: 25px;
  border-radius: 5px;
} 

.App h1 {
  margin: 20px 50px 0;
}

.quote-details .container {
  width: 300px;
  margin: 30px auto;
}

.quote-details .container h1{
  color: green;
}

.App .rounded-pill {
  display: block;
  margin: 0 auto;
  background-color :#11698e;
  width: 250px;
  height: 45px;
  border: 0px;
  color: white;
  font-size: 1.3em;
}

